@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
#header {
	-fx-font-family: 'Roboto';
	-fx-font-weight: 700;
}
#prompt {
	-fx-font-family: 'Roboto';
	-fx-font-weight: 500;
}

#size-chooser-button:hover {
    -fx-effect: dropshadow(gaussian, black, 8, 0.0, 2, 0);
}